.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.input-g{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    border: 2px solid red;
    padding: 15px;
    border-radius: 25px;
}
.cc{
    display: flex;
    flex-direction: row;
}
input[type=text] {
    width: 350px;
    height: 45px;
    border-radius: 3px;
    border: none;
    border-left: 8px solid #0652DD;
    color:#000;
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
    }

input[type=text]:focus {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

    outline:none; 
    border-left: 8px solid #009432;
    color:#000;
    font-size: 20px;
    font-weight: '700';
    padding-left: 5px;
    border-radius:4px;
}

button{
    background: #00070c;
    border: none;
    margin-top: 2px;
}
#set{
    margin-left: 15px;
}
button:hover {
    opacity: 0.5;
}

.play{
    margin-top: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

audio{
    width: 500px;
}
.message{
    display: flex;
    align-self: center;
    font-size: 21px;
    font-weight: bold;
}
.name{
    display: flex;
    justify-content: center;
    font-size:18px;
    font-weight: bold;
}
.play-music{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    
}
img{
    display: flex;
    align-self: center;
    background: #00070c;
    height: 80px;
    width: 80px;
}
play-browser{
    background: #0652DD;
}

@media screen and (max-width: 600px) {
    audio{
        width: 300px;
    }
    input[type=text]{
        width: 280px;
        height: 40px;
        font-size: 18px;
    }
    .input-g{
        flex-direction: column;
    }
    .input-g button{
        align-self: center;
    }
    .cc{
        display: flex;
        flex-direction: row;
        margin-top:10px;
    }
    .name{
        font-size: 15px;
    }

}



